.introWelcomeDiv {
  margin: 150px auto 0;
  border: 2px solid gray;
  border-radius: 20px;
  width: 80%;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.welcomeOptionsDiv {
  margin-top: 25px;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.introInput {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 5px;
  transition: border-color 0.3s ease;
}

.introInput:focus {
  border-color: #3498db;
}

.introButton {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.introButton:hover {
  background-color: #27ae60;
}